<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bandwidth</title>
    <link rel="stylesheet" href="/static/styles/index_style.css?v=3">
    <!-- <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v7.0.1/css/all.css"> -->
</head>
<body>
    <main class="top-bar">
        <div class="parent-container">
            <div class="centered-div" style="font-size: larger;">
                <h1>404</h1>
                <p>К сожалению, запрашиваемая страница не найдена.</p>
                <a href="/">Вернуться на главную</a>
            </div>
        </div>
    </main>
</body>
</html>